<%= link_to( "Back to Course Evaluations List", {:controller => 'course_evaluations', :action => 'list', :course_evaluation_id => @course_evaluation.id}, :class => 'back-link')%>

<h1>Individual Evaluations</h1>

<%= link_to("Add your evaluation", {:action => 'new'}, :class => 'action new')%>

<table class="listing">
	<tr class="header">
		<th>User Name</th>
		<th>Rating</th>
		<th>Professor</th>
		<th>Course</th>
		<th>Show More</th>
	</tr>

<% @ind_eval.each do |e|%>
	<tr>
		<td><%= e.user_name %></td>
		<td><%= e.rating %></td>
		<td><%= e.professor %></td>
		<td><%= e.course %></td>
		<td><%= link_to("Show", {:action=> 'show', :id =>e.id}, :class => 'action show')%></td>
	</tr>
	<% end %>
</table>