<div class="subject new">
	<h2>Create Subject</h2>
	
	<%= link_to ("Back to Course Evaluations", {action => 'list', :course_evaluation_id => @course_evaluation.id}, :class => 'back-link') %>

	<%= form_for(:individual_evaluation, :url => {:action => 'create', :id => @ind_eval.id, :course_evaluation_id => @course_evaluation.id}) do |f| %>
	
	<table summary="Subject form fields">
		<tr>
			<th>User Name</th>
			<td><%= f.text_field(:user_name) %></td>
		</tr>
		<tr>
			<th>Rating</th>
			<td><%= f.text_field(:rating) %></td>
		</tr>
		<tr>
			<th>Course</th>
			<td><%= f.select(:course_id, 1..9) %></td>
		</tr>
		<tr>
			<th>Professor</th>
			<td><%= f.select(:professor_id, 1..9) %></td>
		</tr>
	</table>
	<%= submit_tag("Submit Evaluation") %>
	
	<% end %>
	
</div>