<div> 
	<h1>This is an evaluation</h1>
	<%= link_to ("Back to Course Evaluations", {action => 'list', :course_evaluation_id => @course_evaluation.id}, :class => 'back-link') %>

<table>
	<tr>
		<th>User Name</th>
		<th>Rating</th>
		<th>Professor</th>
		<th>Course</th>
	</tr>
	<tr>
		<td><%= @ind_eval.user_name %></td>
		<td><%= @ind_eval.rating %></td>
		<td><%= @ind_eval.professor %></td>
		<td><%= @ind_eval.course %></td>
	</tr>
</table>
</div>
