<h1>Courses Evaluations</h1>

<table class="listing">
	<tr class="header">
		<th>Course</th>
		<th>Professor</th>
		<th>Show</th>
		<th>Delete</th>
	</tr>

<% @course_evaluations.each do |c|%>
	<tr>
		<td><% id1 = c.professor_id.to_i %>
			<% professor = Professor.find(id1)%>
			<%= professor.first_name + " " + professor.last_name%>
		</td>
		<td><% id = c.course_id.to_i %>
			<% course = Course.find(id)%>
			<%= course.name %>
		</td>
		<td><%= link_to("View Individual Evaluations", {:controller => 'individual_evaluations', :action => 'list', :course_evaluation_id => c.id}, :class => 'action show') %>
		<td><%= link_to("Show", {:action=> 'show', :id =>c.id}, :class => 'action show')%></td>
		<td><%= link_to("Delete", {:action=> 'delete', :id =>c.id}, :class => 'action delete')%></td>
	</tr>
	<% end %>
</table>