<style type="text/css">
#header_table {margin-left: auto; margin-right: auto; height: 300px; width: 900;}
#professor_name {vertical-align: bottom;}
#post_it {padding-bottom: 150px; position:absolute; left: 550px; z-index:200;}
#post_it h1 {position:relative; bottom: 239px; left: 100px;}
#headshot {position:absolute; left: 350px; top: 250px; z-index:100;}
#overall_rating {position:absolute; left: 824px; top: 175px; z-index:100;}
</style>

<table id="header_table">

<tr>
<td id="headshot">
<%= image_tag('headshot.jpeg' ) %>
</td>

<td id="post_it">
<%= image_tag('post-it.png', :size=>"350x357") %>
<h1>
<%= @professor.first_name%>
<br /><!--print last name on new line-->
<%= " " + @professor.last_name%>
</h1>
</td>


<td id="overall_rating">
<%= image_tag('block_red_r.png') %>
</td>

</tr></table> <!--header_table-->



<table id="courses_taught">
	<tr>
		<th>Courses Taught</th>
	</tr>
<% @professor.courses.each do |course|%>
	<tr>
		<td><%= course.name %></td>
	</tr>
<% end %>
</table><!--courses_taught-->


<!--

<%= image_tag('rails.png')%>

<%= @professor.overall_rating %>



-->