
<style type="text/css">
#gray_bar {margin-left: 0; margin-bottom: 85px; background-image:url(<%= asset_path 'gray_bar.png'%>); height: 56px;}
#header_links {position: absolute; top: 13px; left:0px;}
#header_links li {float:left; margin-right:0; padding-bottom:11px; letter-spacing:1px;}
#header_links li a {display: block; border-bottom:none; font-family: 'Terminal Dosis', sans-serif; text-transform: uppercase; font-size: 15px; font-weight: 600; color: white; padding: 0px 0px 43px 0px; margin-right:20px; line-height: 44px; text-decoration:none;}
#header_links li a:hover {font-size:17px;}
#header_menu {margin:0; list-style:none;}
#header_tab {position:absolute; left:400px; background-position:0px -5px; z-index:5000;}
#header_tab a {background:url(<%= asset_path 'top-flag.png'%>); width:150px; height:123px; display:block; background-position:0px -8px; text-indent:-99999px; -webkit-transition: .1s ease-in; -moz-transition: 0.10s ease-in;}
#header_tab a:hover {background-position:0px 0px; height:131px;}
#alignment {width:950px; margin:auto; position:relative;}
#welcome {width:200px; margin:0; padding:0; position:absolute; top:0px; left:700px;}
#welcome p {display: block; border-bottom:none; font-family: 'Terminal Dosis', sans-serif; text-transform: uppercase; font-size: 12px; color: white; margin-right:20px; line-height: 0px; text-decoration:none;}
body {margin-top:0; margin-left:0; background-image: url(<%= asset_path 'purty_wood.png'%> );}
#logout_button {padding-left:38px}
</style>


<div id="gray_bar">
	<div id="alignment">
	<div id="header_tab">
		<a href="/">G Courses</a>
	</div>
	<div id="header_links">
		<ul id="header_menu">
			<li><%= link_to("Professors", {:controller => "professors", :action=> "list"}) %></li>
			<li><%= link_to("Courses", {:controller => "courses", :action => "list"})%></li>
		</ul>
	</div>
	<div id="welcome">
		<p>Welcome, <%= session[:user_name]%>!</p>
		<div id="logout_button"><%= button_to "Logout", {:controller => "access", :action => 'logout'}%></div>
	</div>
	</div>
</div>


<% if !flash[:notice].blank?%>
	<div class="notice">
		<%= flash[:notice]%>
	</div>
<% end %>
		